body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
}

.deviceList:nth-child(2n){
  background-color: lightcyan;
}

.profileData{
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  line-height: 100%;
  font-size: large;
}

.logo{
  max-width: 100%;
}

.blueContent{
  color: #4285f4;
}

.logo{
  margin-bottom: 1em;
}

.mainContent{
  margin-top: 2em;
}
